.chat-container {
  --header-height: 90px;
  --chat-height: 72px;

  height: calc(100vh - var(--header-height) - var(--chat-height));
  overflow-y: auto;
}

.cv-container {
  --header-height: 90px;

  height: calc(100vh - var(--header-height));
  overflow-y: auto;
}
