#navbar .nav-item{
  padding: 0.5rem;
  color: #b1b3d0;
  background: transparent;
  transition: color 0.2s ease, background 0.2s ease;

  &.active, 
  &:hover, 
  &:focus, 
  &:active {
    position: relative;
    color: white;
    overflow: visible;
    background: radial-gradient(
        ellipse at 50% 50%,
        #ffffff3d 0%,
        #99999900 60%
      );
  
   
  }
}
