.repository::before {
  --size: 588px;

  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% calc(var(--size) / 4);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(rgb(217 217 217 / 15%) 0%, #000 70%);
  z-index: -1;
  border-radius: 50%;
}
